*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    background-color: #F4D04E;
}

.main-container {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Figtree", sans-serif;
}

.blog-card {
    width: 384px;
    padding: 24px;
    border-radius: 20px;
    border: 2px solid #111111;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0) 8px 8px
}

.blog-card:hover,
.blog-card:focus-within {
  /* background-color: hsl(0, 0%, 100%); */
  transform: translateY(-3px);
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease;
}


.blog-card-content {
    margin: 24px 0;
}

.blog-card-image-container img {
    border-radius: 10px;
}

.card-content-category {
    font-weight: bold;
    font-size: 14px;
    background-color: #F4D04E;
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 150%;
    display: inline-block;
}

.card-content-date {
    font-weight: 500;
    margin: 12px 0;
    font-size: 14px;
}

.card-content-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    margin: 12px 0;
}

.card-content-title:hover,
.card-content-title:focus {
  color: #F4D04E;
  text-decoration: underline;
  /* outline: none;  */
  /* outline: 2px solid hsl(47, 88%, 63%);
  outline-offset: 4px; */
  transition: color 0.2s;
}


.card-content-description {
    color: #6B6B6B;
}

.blog-author {
    display: flex;
    align-items: center;
}

.blog-author-image-container {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-right: 12px;
}

.blog-author-name {
    font-weight: bold;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

