*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    background-color: #F4D04E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Figtree", sans-serif;
}

.main-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.blog-card {
    width: min(384px, 90%);
    padding: 1.5rem;
    border-radius: 20px;
    border: 2px solid #111111;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0) 8px 8px;
    transition: transform 0.3s ease;
}

.blog-card:hover,
.blog-card:focus-within {
  transform: translateY(-3px);
}

.blog-card-content {
    margin: 1.5rem 0;
}

.blog-card-image-container img {
    width: 100%;
    border-radius: 10px;
}

.card-content-category {
    font-weight: 800;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem); /* 12px to 14px */
    background-color: #F4D04E;
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 150%;
    display: inline-block;
}

.card-content-date {
    font-weight: 500;
    margin: 0.75rem 0;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem); /* 12px to 14px */
}

.card-content-title {
    font-size: clamp(1.25rem, 1rem + 1.25vw, 1.5rem); /* 20px to 24px */
    font-weight: 800;
    line-height: 150%;
    margin: 0.75rem 0;
}

.card-content-title a {
    text-decoration: none;
    color: #111111;
}

.card-content-title a:hover,
.card-content-titlea a:focus {
  color: #F4D04E;
  text-decoration: underline;
  transition: color 0.2s;
}


.card-content-description {
    color: #6B6B6B;
    font-size: clamp(0.875rem, 0.8rem + 0.4vw, 1rem); /* 14px to 16px */
    line-height: 150%;
}

.blog-author {
    display: flex;
    align-items: center;
}

.blog-author-image-container {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-right: 12px;
}

.blog-author-name {
    font-weight: 800;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

